html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}



.header{
    text-align: center; /*задав верхнему эл-ту задаем и внутренним,т.к. св-во наследуется. центрируем весь внутренний контент*/
}

.header__logo{
    padding: 88px 60px;
}

.menu{
    border-top: 2px solid 
}
